[Unit]
Description=Remove Kindle Link
ConditionPathIsDirectory=/home/flatcap
ConditionPathExists=/home/flatcap/klink
ConditionPathExists=!/home/flatcap/KINDLE
Requires=kindle-mounted.path

[Service]
Type=oneshot
WorkingDirectory=/home/flatcap
ExecStart=/usr/bin/rm -f klink

[Install]
WantedBy=default.target

