[Unit]
Description=Virtual Machine DNS Leases
ConditionPathIsDirectory=/var/lib/libvirt/dnsmasq
Requires=dnsmasq-hosts.path

[Service]
Type=oneshot
WorkingDirectory=/var/lib/libvirt/dnsmasq
ExecStart=/var/lib/libvirt/dnsmasq/dnsmasq-hosts.sh

[Install]
WantedBy=default.target

